/* -------------------------- */
/* ----- IMPORTED FONTS ----- */
/* -------------------------- */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

header, nav, section,  aside,  article, figure, footer{ 
   /* display: block;*/
}
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* -------------------------- */
/* ---------- BODY ---------- */
/* -------------------------- */
body {
	color: #000305;
	font-size: 1em; /* Base font size: 14px */
	font-family: 'Lato', sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
	background:white;
	text-decoration: none;
	}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 90%;
	height:auto;
}

/* -------------------------- */
/* ------- PAGE CONTENT ----- */
/* -------------------------- */

.pageTitle{
	font-weight: bold;
	font-size: 1.3em;
}

.pageGap{
	width:100%;
	height:30px;
	background-color: white;
	float:left;
}

.important{
	color:#0697dc;
	text-decoration: none;
}

.content{
	font-size: 0.9em;
	position: relative;
	padding-top: 30px; /* makes the margins the same */
	height:auto; /* CHANGE TO 100% WHEN CONTENT ADDED */
	width:100%;
	background: lightgray;
	float: left;
}

/* home page */
.about{
	margin-top:5%;
	margin-left:5%;
	width:56%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* every page */
.title{
	font-weight: bold;
	font-size: 1.3em;
}

/* home page - picture of me */
.me {
	margin-top:5%;
	margin-left:5%;
	margin-right: 5%;
	float: left;
	height: auto;
	width:25%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* home page */
.contact {
	font-size: 0.9em;
	margin-top:5%;
	margin-left:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5%;
}

.contactForm .name, .contactForm .email{
	padding: 2% 2% 2% 2%;
	float:left;
	border: 1px solid lightgray;
	margin-right: 2%;
	width:20%;
	min-width: 150px;
	font-size: 0.9em;
	margin-bottom: 2%;
}

.contactForm .submit{
	margin-top: 2%;
	padding: 2% 2% 2% 2%;
	float:left;
	margin-right: 2%;
	font-size: 0.9em;
	margin-bottom: 2%;
	background-color:  #0697dc;
	color:white;
	border-bottom: 2px solid white;
}

.contactForm .submit:hover{
	color:  #0697dc;
	background-color:white;
	border-bottom: 2px solid #0697dc;
}

.contactForm .subject{
	padding: 2% 2% 2% 2%;
	float:left;
	width:96%;
	max-width: 96%;
	height:200px;
	overflow: scroll;
	border: 1px solid lightgray;
	font-size: 0.9em;
}

/* computing page */
.skills {
	margin-top:5%;
	margin-left:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* computing page */
.project, .branding{
	margin-top:5%;
	margin-left:5%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:22.6666667%;
    height:auto;
    margin-bottom: 5%;
}

/* computing page - project images */
.project img, .branding img{
	width:100%;
	height:auto;
	 transition: opacity 2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
}

/* computing page - project bottom links */
.projectTitle, .brandingTitle{
	background: #0697dc;
	color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: color 2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: background .2s;
	-moz-transition: background .2s;
	-webkit-transition: background .2s;
}

/* computing page - project bottom links */
.projectTitle:hover, .brandingTitle:hover{
	color: #0697dc;
	background: white;
}

/* computing page - project image overlay text */
.project .overText, .branding .overText{
    display: inline-block;
   	width:22.6666667%;
    text-align: center;
    text-decoration: none;
	position: absolute;
	color:  #0697dc;
	margin-top: 10%;
	opacity: 0;
	 transition: opacity 2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	font-size: 1.2em;
}

/* computing page - project image overlay text */
a:hover .overText{
	display: block;
	z-index: 1;
	opacity: 1;
}

/* computing page - project */
a:hover img {
	opacity: 0.2;
}

/* artwork and branding page */
.artworkBrandingIntro {
	margin-top:5%;
	margin-left:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.brandingDescription{
	margin-top:5%;
	margin-left:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.artworkDescription{
	margin-top: 5%;
	margin-left:5%;
	margin-bottom:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* artwork and branding page  - snowboard logo */
.aLogo{
	margin-top:5%;
	margin-left:5%;
	margin-right: 5%;
	float: left;
	height: auto;
	width:25%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* artwork and branding page */
.artwork{
	margin-left:5%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:22.6666667%;
    height:auto;
    margin-bottom: 5%;
}

/* artwork page - project images */
.artwork img{
	width:100%;
	height:auto;
	 transition: opacity 2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* artwork page - project bottom links */
.artworkTitle{
	background: #0697dc;
	color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    transition: color 2s;
	-moz-transition: color .2s;
	-webkit-transition: color .2s;
	transition: background .2s;
	-moz-transition: background .2s;
	-webkit-transition: background .2s;
}

/* artwork page - project bottom links */
.artworkTitle:hover{
	color: #0697dc;
	background: white;
}

/* artwork page - project image overlay text */
.artwork .overText{
    display: inline-block;
   	width:22.6666667%;
    text-align: center;
    text-decoration: none;
	position: absolute;
	color:  #0697dc;
	margin-top: 8%;
	opacity: 0;
	 transition: opacity 2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	font-size: 1.2em;
}

/* Computing Page - Project Demo */
.demo{
	margin-top: 5%;
	margin-left:5%;
	margin-bottom:5%;
	width:86%;
	float: left;
	background-color: white;
	padding: 2%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* Computing Page - Project Demo */
.demo iframe{
	height:800px;
	width: 100%;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float:left;
}

/* Computing Page - Project Demo */
.demo img{
	width:100%;
	height:auto;
	 transition: opacity 2s;
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* every page */
footer{
	height:40px;
	line-height: 40px;
	background-color: white;
	color:#0697dc;
	width: 100%;
	text-align: center;
	float: left;
}

/* -------------------------- */
/* ----- MEDIA QUIERIES ----- */
/* -------------------------- */

/* makes the font size bigger for screens over 1500px */
@media screen and (min-width: 1500px) {
	body{
		font-size: 1.2em;
	}
}


@media screen and (max-width: 890px) {

	/* changes the nav bar from fixed to relative
	.content{
		padding-top: 0;
	}
	.navBar{
		position: relative;
		width: 100%;
	} */

	/* scroll nav bar */
	.scroll-nav {
        border-bottom: 0; 
        height:auto;
    }

    /* scroll nav bar */
	.scroll-nav ol {
    	max-width: 100%;
    	display: block;
		height: auto;
    }

    /* scroll nav bar */
    .scroll-nav li {
	  	width: 50%;
	  	float: left;
	  	position: relative;
    }

    /* scroll nav bar */
    .scroll-nav li a {
	  width: 99.6%;
    }

    /* scroll nav bar */
    .scroll-nav li:nth-last-child(3) a{
		border-right:none;
		width:100%;
	}

	/* scroll nav bar */
	.scroll-nav li:nth-last-child(1) a{
		border-right:none;
		width:100%;
	}

	/* doubles padding giving top of page room */
    .content{
    	padding-top: 60px;
    }

    /* computing page */
	.project, .branding, .artwork{
		width:38.5%;
	}

	/* computing page - project image overlay text */
	.project .overText, .branding .overText, .artwork .overText{
    	width:38.5%;
	}
/*
	nav {
        border-bottom: 0; 
        height:auto;
    }
    nav ul {

    	width: 100%;
    	display: block;
        display: none;
		height: auto;
    }
	nav li {
	  	width: 50%;
	  	float: left;
	  	position: relative;
    }
    nav a {
	  text-align: center;
	  width: 100%;
    }

    /* the pull button 
    nav a#pull {
		display: inline-block;
		background-color: #283744;
		width: 100%;		
        position: relative;
    }*/


    /* the pull image 
    nav a#pull:after {
        content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 5px;
    }*/
    .about{
		width: 86%;
	}

	.me{
		display: none;
	}
}

@media only screen and (max-width : 480px) {

	/* scroll nav bar */
	.scroll-nav{
		width:100%;
	}

	/* scroll nav bar */
    .scroll-nav li {
	  	width: 100%;
    }

    /* scroll nav bar */
    .scroll-nav li a {
	  	border-right:none;
	  	width: 100%;
    }

    /* computing page */
	.project, .branding, .artwork{
		width:86%;
	}

	/* computing page - project image overlay text */
	.project .overText, .branding .overText, .artwork .overText{
    	width:86%;
	}

    .body{
    	width:100%;
    }


    /* doubles padding giving top of page room */
    .content{
    	padding-top: 120px;
    }
}

