/* 
    Document   : css
    Created on : 09-Jul-2013, 16:41:38
    Author     : tomwilkins
    Description:
        Purpose of the stylesheet follows.
*/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);


body{
    background: white;
    margin: 0;
    font-family:tahoma, arial, helvetica, sans-serif; 
}

/* Gets the elements to work properly together */
header, nav, section,  aside,  article, figure, footer{ 
    display: block;
}

header{
    height: 150px;
    background-color: white;
    width:100%;
    text-align: center;
}
/* banner */
header img{
    height:100%;
}

/* contains the navigation bar */
#navBar {
    width:100%; 
    background:white;
    border-bottom: 2px solid black;
    height:40px;
}
nav{
    height:40px;
    background-color: white;
    width:875px;
    margin:0px auto; 
}
nav ul { 
    z-index: 10;
    padding: 0;
    margin: 0 auto;
    height: 40px;
    position:absolute;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: black;
    display: inline-block;
    width: 125px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    border-bottom: 2px solid black;
}
/* hides the navigation within a navbox */
nav ul li ul {
    width:125px; 
    margin:0px 0px 0px 0px; 
    display:none; 
}
/* the seperators for each nav box 
nav li a {
    border-right: 1px solid #576979;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}*/
/* displays the submenu */
nav ul li:hover ul {
    display:block;
}
/* adds colour to the submenu while hovering over */
nav ul li:hover {
    height:auto;
    background: black; /* for non-css3 browsers */
}
/* changes the font color to white while the link is being hovered over */
nav ul li:hover a{
    color: white;
    border-bottom: 2px solid white;
}
/* while the main menu link is being hovered, keeps the menu options black */
nav ul li:hover ul li a{
    color:black;
}
/* changes the sub menu links to white */
nav ul li:hover ul li:hover a {
    color:white;
}
/* gives the sub menu a white background */
nav ul li{
    background: white;
}

/* contains everything inside of page that has content */
#pageContainer{
    z-index:-1;
    height:800px;
    position: relative;
}
section{
    /*
    height: 50%;
    background-color: red;
    width: 80%;
    float: left;*/
    background: url('http://www.demo.amitjakhu.com/login-form/images/bg.png');
    float:none;
    width:100%;
    height: 540px;
    position: relative;
}

article{
    height: 50%;
    background-color: orange;
    width: 80%;
    float: left;
}

aside{
    height: 800px;
    background-color: yellow;
    width: 20%;
    float:right;
}

/* makes a footer bar */
#footerBar {
    width:100%; 
    background:white;
    border-top: 2px solid black;
    height:40px;
}
/* contains footer information */
footer{
    background-color: white;
    width:900px;
    margin:0px auto;
}
footer ul {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    position:absolute;
}

footer li {
    display: inline;
    float: left;
}
footer a {
    font-size: 8pt;
    color: black;
    display: inline-block;
    width: 135px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

